<% content_for :back do %>
    <%= link_to "Back", :back  %>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Location:</strong>
  <%= @article.location %>
</p>

<p>
  <strong>Excerpt:</strong>
  <%= @article.excerpt %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @article.published_at %>
</p>


<p>
  <strong>Comments:</strong><br/>
  <% if  @article.comments.empty? %>
   <ul id="comments"><li>
     No comments !!!
   </li>
     <li>
       <%= form_tag("/comments/create?article_id=#{@article.id}", method: 'get', :remote => true) do %>
           <%= label_tag :body, "Comment:" %>
           <%= text_field_tag :body  %>
           <%= label_tag :name, "By:" %>
           <%= text_field_tag :name %>
           <%= label_tag :email, "Email:" %>
           <%= text_field_tag :email %>
           <%= submit_tag "Add Comment.." %>
       <% end %>
     </li>
   </ul>
  <% else %>
     <ul id="comments">
      <% @article.comments.each do |com| %>
      <% next if com.body.nil? %>
      <li>
        <%= (com.body + "... by #{com.name.empty? ? 'Anonymous' : com.name }")  %>
      </li>
      <% end %>
       <li>
         <%= form_tag("/comments/create?article_id=#{@article.id}", method: 'get', :remote => true) do %>
             <%= label_tag :body, "Comment:" %>
             <%= text_field_tag :body  %>
             <%= label_tag :name, "By:" %>
             <%= text_field_tag :name %>
             <%= label_tag :email, "Email:" %>
             <%= text_field_tag :email %>
             <%= submit_tag "Add Comment.." %>
       <% end %>
        </li>
     </ul>
  <% end %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>